* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  flex: 0 0 100%;
  display: flex;
  font-family: sans-serif;
}

button {
  padding: 0;
  text-align: center;
  border: 0;
  border-radius: 2px;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  opacity: 0.6;
}

.grid {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
}

.main {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.main-header {
  flex: 0 0 auto;
}

.main-row {
  flex: 1 0 auto;
  display: flex;
}

.row {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
@media only screen and (min-width: 576px) {
  .row {
    flex-flow: row nowrap;
  }
}

.column {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  border: 3px solid #616b6f;
}
.column.medium-3 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 576px) {
  .column.medium-3 {
    flex: 0 0 25%;
  }
}
.column.medium-4 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 576px) {
  .column.medium-4 {
    flex: 0 0 33.3333%;
  }
}
.column.medium-6 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 576px) {
  .column.medium-6 {
    flex: 0 0 50%;
  }
}
.column.medium-9 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 576px) {
  .column.medium-9 {
    flex: 0 0 75%;
  }
}

.grid-area {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
}

.grid-area-container {
  background-color: #616b6f;
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.grid-area-income {
  flex: 0 1 auto;
  border-bottom: 3px solid #495154;
  background-color: #495154;
  display: flex;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.grid-area-resources {
  flex: 1 1 auto;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2) inset;
  background-color: #FFFFFF;
  display: flex;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.button-production {
  flex: 0 0 100%;
  padding: 10px;
}

.production-generation {
  font-size: 0.9rem;
  margin-right: 10px;
}

.production-text {
  font-size: 1rem;
}

.counter {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.counter-label {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  z-index: 0;
  border-top: 10px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.counter-label span {
  display: none;
}

.counter-count {
  z-index: 1;
  padding-left: 10px;
}
.grid-area-income .counter-count {
  font-size: 1.25em;
}
.grid-area-resources .counter-count {
  font-size: 2.25em;
}

.counter-change {
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  font-size: 0.7em;
  padding-left: 10px;
}
.grid-area-income .counter-change {
  margin-top: -32px;
}
.grid-area-resources .counter-change {
  margin-top: -43px;
}

.counter-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.counter-buttons-resources.counter-buttons-resources-five {
  padding: 4px;
}
.counter-buttons-resources.counter-buttons-resources-five .minus {
  margin-top: 8px;
}
.counter-buttons-resources.counter-buttons-resources-one {
  padding: 8px 4px;
}
.counter-buttons-resources.counter-buttons-resources-one .minus {
  margin-top: 8px;
}
.counter-buttons-resources.counter-buttons-resources-plant-tile {
  padding: 0 2px 0 4px;
}
.counter-buttons-resources.counter-buttons-resources-temperature {
  padding: 0 2px 0 4px;
}

.counter-button-resource {
  border: none;
  display: block;
}
.counter-buttons-resources-five .counter-button-resource {
  width: 20px;
  height: 20px;
}
.counter-buttons-resources-one .counter-button-resource {
  width: 17px;
  height: 17px;
}

.action-buttons {
  display: flex;
}

.temperature,
.plant-tile {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}

.temperature-icon,
.plant-tile-icon {
  font-size: 1.25em;
  width: 24px;
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.temperature-count,
.plant-tile-count {
  width: 100%;
  text-align: center;
  padding-right: 4px;
}

.counter-buttons-resources-five .counter-button-resource {
  background: #e2e2e2;
  background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -o-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -ms-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(135deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

.counter-buttons-resources-one .counter-button-resource {
  background: #f2d2c6;
  background: -moz-linear-gradient(-45deg, #f2d2c6 0%, #bf8367 50%, #b5714c 51%, #e8bfb2 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f2d2c6), color-stop(50%, #bf8367), color-stop(51%, #b5714c), color-stop(100%, #e8bfb2));
  background: -webkit-linear-gradient(-45deg, #f2d2c6 0%, #bf8367 50%, #b5714c 51%, #e8bfb2 100%);
  background: -o-linear-gradient(-45deg, #f2d2c6 0%, #bf8367 50%, #b5714c 51%, #e8bfb2 100%);
  background: -ms-linear-gradient(-45deg, #f2d2c6 0%, #bf8367 50%, #b5714c 51%, #e8bfb2 100%);
  background: linear-gradient(135deg, #f2d2c6 0%, #bf8367 50%, #b5714c 51%, #e8bfb2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d2c6', endColorstr='#e8bfb2', GradientType=1 );
}

.tr-column .grid-area-income {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.column.production-button-column {
  background-color: #616b6f;
}
@media only screen and (min-width: 576px) {
  .column.production-button-column {
    flex: 1 0 33.3333%;
  }
}
.column.production-button-column > .grid-area {
  padding: 6px 5px;
}
@media only screen and (min-width: 576px) {
  .column.production-button-column > .grid-area {
    padding: 5px 0px 5px 10px;
  }
}

.column.action-buttons-column {
  flex: 0 0 100%;
  padding: 0 5px;
  background-color: #616b6f;
}
@media only screen and (min-width: 576px) {
  .column.action-buttons-column {
    flex: 0 1 auto;
  }
}

.grid-area-tr .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-mega-credits .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-steel .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-titanium .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-plants .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-energy .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-heat .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-resources-mega-credits .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-resources-steel .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-resources-titanium .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-resources-plants .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-resources-energy .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.grid-area-resources-energy .counter-buttons {
  flex: 0 0 56px;
  justify-content: center;
  padding-right: 4px;
}

.grid-area-resources-heat .counter-label {
  background-image: url("https://placehold.it/50x50");
}

.column.summary-column {
  border: none;
  padding: 0;
}
@media only screen and (min-width: 576px) {
  .column.summary-column {
    flex: 1 1 100px;
  }
}
@media only screen and (min-width: 768px) {
  .column.summary-column {
    padding: 10px;
    flex: 1 1 200px;
  }
}

@media only screen and (min-width: 576px) {
  .column.main-column {
    flex: 3 0 50%;
  }
}

.grid-summary-container {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.grid-summary {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.grid-actions {
  flex: 0 0 auto;
  margin-top: 30px;
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.grid-table {
  margin: auto 0;
  flex: 0 0 auto;
  padding: 10px 10px 10px;
}

.grid-table-row {
  display: flex;
  flex-flow: row nowrap;
}
.grid-table-row + .grid-table-row {
  margin-top: 10px;
}

.grid-table-resource {
  flex: 0 0 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.spend-resource,
.spend-income {
  width: 35px;
  height: 35px;
  background: pink;
}
.spend-resource span,
.spend-income span {
  display: none;
}

.grid-table-quantity {
  flex: 0 0 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
}

.grid-table-mega-credits {
  flex: 0 0 35%;
  padding-left: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
}
.grid-table-mega-credits span {
  font-size: 1.2em;
  transform: translateY(2px);
}

.grid-table-summary {
  margin-top: 5px;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  padding: 10px 0;
}

.clear-all-button {
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  background-color: transparent;
}

.submit-button {
  flex: 0 0 100%;
  text-align: center;
  padding: 15px;
  display: block;
  font-size: 1rem;
}

.main-header .tr-column {
  order: 3;
}
@media only screen and (min-width: 576px) {
  .main-header .tr-column {
    order: 1;
  }
}
@media only screen and (min-width: 576px) {
  .main-header .tr-column .grid-area-income {
    border-bottom: 0;
  }
}
.main-header .production-button-column {
  order: 2;
}
@media only screen and (min-width: 576px) {
  .main-header .production-button-column {
    order: 2;
  }
}
.main-header .action-buttons-column {
  order: 1;
}
@media only screen and (min-width: 576px) {
  .main-header .action-buttons-column {
    order: 3;
    border-top: 0;
    border-bottom: 0;
  }
}
.main-header .action-buttons-column .action-buttons {
  flex-flow: row nowrap;
  flex: 0 0 100%;
  padding: 6px 0;
}
@media only screen and (min-width: 576px) {
  .main-header .action-buttons-column .action-buttons {
    padding: 8px 0;
    flex-flow: column nowrap;
  }
}
.main-header .action-buttons-column .action-buttons .button-redo,
.main-header .action-buttons-column .action-buttons .button-undo {
  flex: 1 1 auto;
  width: auto;
  font-size: 1.1rem;
  padding: 8px 0;
  color: #3d4446;
  background-color: transparent;
  background-color: #79858a;
}
@media only screen and (min-width: 576px) {
  .main-header .action-buttons-column .action-buttons .button-redo,
  .main-header .action-buttons-column .action-buttons .button-undo {
    width: 30px;
    padding: 0;
  }
}
.main-header .action-buttons-column .action-buttons .button-redo {
  margin-left: 8px;
}
@media only screen and (min-width: 576px) {
  .main-header .action-buttons-column .action-buttons .button-redo {
    margin-left: 0;
    margin-top: 5px;
  }
}
