* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0;
  flex: 0 0 100%;
  display: flex;
  font-family: sans-serif;
  background-color: #313739;
}

button {
  padding: 0;
  text-align: center;
  border: 0;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  opacity: 0.6;
}

.grid {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
}

.main {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.main-header {
  flex: 0 0 auto;
}

.main-row {
  flex: 1 0 auto;
  display: flex;
}

.row {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
@media only screen and (min-width: 350px) {
  .row {
    flex-flow: row nowrap;
  }
}

.column {
  flex: 0 0 100%;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.column.medium-3 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 350px) {
  .column.medium-3 {
    flex: 0 0 25%;
  }
}
.column.medium-4 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 350px) {
  .column.medium-4 {
    flex: 0 0 33.3333%;
  }
}
.column.medium-6 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 350px) {
  .column.medium-6 {
    flex: 0 0 50%;
  }
}
.column.medium-9 {
  flex: 0 0 100%;
}
@media only screen and (min-width: 350px) {
  .column.medium-9 {
    flex: 0 0 75%;
  }
}

.grid-area {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
}

.grid-area-container {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.grid-area-income {
  flex: 0 1 auto;
  border-bottom: 1px solid #cbd0d1;
  display: flex;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #cbd0d1;
}

.grid-area-resources {
  flex: 1 1 auto;
  display: flex;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #FFFFFF;
}
.grid-area-resources.grid-area-generation, .grid-area-resources.grid-area-TR {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.button-production {
  flex: 0 0 100%;
  padding: 10px;
}

.production-generation {
  font-size: 0.9rem;
  margin-right: 10px;
}

.production-text {
  font-size: 1rem;
}

.counter {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.counter-label {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.counter-label span {
  display: none;
}

.mini-counter-label {
  width: 10px;
  height: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 3px 4px;
}

.counter-count {
  z-index: 1;
  padding-right: 5px;
  font-weight: bold;
}
.grid-area-income .counter-count {
  font-size: 1.25em;
  padding-right: 0;
}
.grid-area-resources .counter-count {
  font-size: 2.25em;
}

.counter-change {
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  font-size: 0.7em;
  padding-right: 5px;
}
.grid-area-income .counter-change {
  margin-top: -32px;
  padding-right: 0;
}
.grid-area-resources .counter-change {
  margin-top: -43px;
}

.counter-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.counter-buttons-resources {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

div.counter-button-resource-placeholder {
  text-align: center;
  padding: 19px;
}

.counter-button-resource {
  flex: 1 0 50%;
  width: 40px;
  padding: 13px;
  display: block;
  border-radius: 0;
}
.counter-button-resource + .counter-button-resource {
  border-top: 1px solid #e6e8e9;
}

.grid-area-income .counter-button-resource {
  border-top-left-radius: 3px;
}
.grid-area-income .counter-button-resource:hover {
  background-color: #bdc3c6;
}
.grid-area-income .counter {
  border-left: 1px solid #afb7ba;
  border-right: 1px solid #afb7ba;
}
.grid-area-income .counter + .counter-buttons .counter-button-resource {
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
}

.grid-area-resources .counter {
  border-left: 1px solid #e6e8e9;
  border-right: 1px solid #e6e8e9;
}
.grid-area-resources .counter-button-resource + .counter-button-resource {
  border-bottom-left-radius: 3px;
}
.grid-area-resources .counter-button-resource:hover {
  background-color: #eef0f0;
}
.grid-area-resources .counter-button-resource.counter-button-resource-placeholder:hover {
  background-color: transparent;
}
.grid-area-resources .counter-button-resource[disabled] {
  color: transparent;
  background-color: transparent;
  cursor: default;
}
.grid-area-resources .counter-button-resource[disabled]:hover {
  color: transparent;
  background-color: transparent;
  cursor: default;
}
.grid-area-resources .counter + .counter-buttons .counter-button-resource {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
}
.grid-area-resources.grid-area-TR .counter-button-resource, .grid-area-resources.grid-area-generation .counter-button-resource {
  border-top-left-radius: 3px;
}
.grid-area-resources.grid-area-TR .counter-button-resource + .counter-button-resource, .grid-area-resources.grid-area-generation .counter-button-resource + .counter-button-resource {
  border-top-left-radius: 0;
  border-bottom-left-radius: 3px;
}
.grid-area-resources.grid-area-TR .counter + .counter-buttons .counter-button-resource, .grid-area-resources.grid-area-generation .counter + .counter-buttons .counter-button-resource {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
}
.grid-area-resources.grid-area-TR .counter + .counter-buttons .counter-button-resource + .counter-button-resource, .grid-area-resources.grid-area-generation .counter + .counter-buttons .counter-button-resource + .counter-button-resource {
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
}

.temperature,
.plant-tile {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}

.grid-area-TR .counter-count {
  padding-right: 2px;
}
.grid-area-TR .counter-label {
  width: auto;
  height: auto;
  padding-top: 8px;
}
.grid-area-TR .counter-label span {
  display: block;
  font-weight: bold;
}

.grid-area-generation .counter-count {
  padding-right: 0;
}
.grid-area-generation .counter-label {
  position: absolute;
  width: auto;
  font-size: 12px;
  margin-top: 55px;
}
.grid-area-generation .counter-label span {
  display: block;
}

.column.main-column {
  flex: 1 0 50%;
}
@media only screen and (min-width: 350px) {
  .column.main-column {
    flex: 3 0 50%;
  }
}

.column.summary-column {
  margin: 6px 6px 0 6px;
  flex: 1 0 70%;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFFFF;
  border-radius: 3px;
}
@media only screen and (min-width: 350px) {
  .column.summary-column {
    margin: 6px 0 6px 6px;
    flex: 1 1 100px;
  }
}

.action-buttons {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e6e8e9;
}

.undo-redo-buttons {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 0 10px;
  margin: 50px 0 0;
}

.switch-mode-button {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 0 10px;
  margin: 10px 0 0;
}

.exit-spend-mode-button {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 0 10px;
  margin-top: 10px;
}

.grid-summary-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5px;
}

.grid-actions {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: auto;
  padding: 0 10px 10px;
}

.grid-summary {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.grid-table {
  margin: auto 0;
  flex: 0 0 auto;
  padding: 10px 10px 10px;
}

.grid-table-row {
  display: flex;
  flex-flow: row nowrap;
}
.grid-table-row + .grid-table-row {
  margin-top: 10px;
}

.grid-table-resource {
  flex: 0 0 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.grid-table-resource .grid-table-quantity {
  flex: 1 1 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.grid-table-resource .spend {
  margin: 0 10px 0 15px;
  flex: 0 0 26px;
}
.grid-table-resource .spend span {
  display: none;
}

.spend-MCreditP,
.spend-SteelP,
.spend-TitaniumP,
.spend-PlantP,
.spend-EnergyP,
.spend-HeatP {
  border: 4px solid #e6e8e9;
  height: 26px;
  border-radius: 3px;
}

.grid-table-mega-credits {
  flex: 0 0 30%;
  padding-left: 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
}
.grid-table-mega-credits:before {
  content: "( ";
  font-size: 1.25em;
  font-weight: 300;
}
.grid-table-mega-credits:after {
  content: " )";
  font-size: 1.25em;
  font-weight: 300;
}
.grid-table-mega-credits span {
  font-size: 1.2em;
  transform: translateY(2px);
}

.grid-table-summary {
  margin: 5px 10px 15px;
  border-top: 1px solid #e6e8e9;
  padding: 10px 0;
}

.button-redo,
.button-undo {
  flex: 1 1 auto;
  width: auto;
  font-size: 1.1rem;
  padding: 8px 0;
  color: #bdc3c6;
}
.button-redo:hover,
.button-undo:hover {
  background-color: #e6e8e9;
  color: #949ea2;
}

.button-undo {
  border: 1px solid #e6e8e9;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-redo {
  border: 1px solid #e6e8e9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button-switch,
.button-exit,
.button-buy {
  flex: 1 0 auto;
  width: 100%;
  padding: 12px;
  font-size: 0.9rem;
  text-align: center;
}

.button-reset {
  flex: 0 0 41px;
  height: 41px;
}
.button-reset:hover {
  color: #616b6f;
}

.button-switch,
.button-exit {
  color: #949ea2;
  border-radius: 3px;
  border: 1px solid #e6e8e9;
}
.button-switch:hover,
.button-exit:hover {
  background-color: #e6e8e9;
}

.button-buy {
  background-color: #95BE4F;
  color: #FFFFFF;
  border-radius: 3px;
  font-weight: bold;
}
.button-buy:hover {
  background-color: #7a9f3b;
}

.grid-area-TR {
  color: #DE7629;
}

.grid-area-Generation {
  color: #646464;
}

.grid-area-MCreditS {
  color: #F8B443;
}

.grid-area-SteelS {
  color: #745339;
}

.grid-area-TitaniumS {
  color: #646464;
}

.grid-area-PlantS {
  color: #95BE4F;
}

.grid-area-EnergyS {
  color: #682A7E;
}

.grid-area-HeatS {
  color: #C25621;
}

.mini-counter-label,
.spend-MCreditP,
.spend-MCreditS,
.grid-area-MCreditS .counter-label {
  background-image: url("https://placehold.it/50x50/F8B443/FFFFFF");
}

.spend-SteelP,
.spend-SteelS,
.grid-area-SteelS .counter-label {
  background-image: url("https://placehold.it/50x50/745339/FFFFFF");
}

.spend-TR {
  background-image: url("https://placehold.it/50x50/DE7629/FFFFFF");
}

.spend-TitaniumP,
.spend-TitaniumS,
.grid-area-TitaniumS .counter-label {
  background-image: url("https://placehold.it/50x50/AAAAAA/FFFFFF");
}

.spend-PlantP,
.spend-PlantS,
.grid-area-PlantS .counter-label {
  background-image: url("https://placehold.it/50x50/95BE4F/FFFFFF");
}

.spend-EnergyP,
.spend-EnergyS,
.grid-area-EnergyS .counter-label {
  background-image: url("https://placehold.it/50x50/682A7E/FFFFFF");
}

.spend-HeatP,
.spend-HeatS,
.grid-area-HeatS .counter-label {
  background-image: url("https://placehold.it/50x50/C25621/FFFFFF");
}

h1 {
  flex: 1 1 50px;
  font-size: 0.8rem;
  line-height: 1.1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  display: none;
}
h1 span.game {
  font-weight: bold;
}

p.placeholder-text {
  padding: 0 20px;
  font-size: 0.9em;
  color: #a2abae;
  line-height: 1.4;
  margin: auto 0;
  text-align: center;
}
