* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0;
  flex: 0 0 100%;
  display: flex;
  font-family: sans-serif;
  background-color: #313739;
}

button {
  padding: 0;
  text-align: center;
  border: 0;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  opacity: 0.6;
}

.grid {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
}

.main {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.main-header {
  flex: 0 0 auto;
}

.main-row {
  flex: 1 0 auto;
  display: flex;
}

.row {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
@media only screen and (min-width: 350px) {
  .row {
    flex-flow: row nowrap;
  }
}

.column {
  flex: 0 0 100%;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.column.medium-3 {
  flex: 0 0 25%;
}
.column.medium-4 {
  flex: 0 0 33.3333%;
}
.column.medium-6 {
  flex: 0 0 50%;
}
.column.medium-9 {
  flex: 0 0 75%;
}

.grid-area {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
}

.grid-area-container {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.grid-area-income {
  flex: 1 1 auto;
  display: flex;
  background-color: #cbd0d1;
}

.grid-area-resources {
  flex: 2 1 auto;
  display: flex;
  background-color: #FFFFFF;
}

.counter {
  flex: 2 0 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.counter-label {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 3vh;
  height: 3vh;
}
@media only screen and (orientation: portrait) {
  .counter-label {
    width: 3vw;
    height: 3vw;
  }
}
.counter-label span {
  display: none;
}

.mini-counter-label {
  width: 10px;
  height: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 3px 4px;
}

.counter-count {
  z-index: 1;
  font-weight: bold;
  padding: 0 4px;
  font-size: 6vh;
}
@media only screen and (orientation: portrait) {
  .counter-count {
    font-size: 6vw;
  }
}
.grid-area-resources .counter-count {
  font-size: 7vh;
}
@media only screen and (orientation: portrait) {
  .grid-area-resources .counter-count {
    font-size: 7vw;
  }
}

.counter-change {
  position: absolute;
  z-index: 2;
  font-size: 3.5vh;
  font-weight: normal;
  letter-spacing: 1px;
}
@media only screen and (orientation: portrait) {
  .counter-change {
    font-size: 3.5vw;
  }
}
.grid-area-income .counter-change {
  margin-top: -9vh;
}
@media only screen and (orientation: portrait) {
  .grid-area-income .counter-change {
    margin-top: -9vw;
  }
}
.grid-area-resources .counter-change {
  margin-top: -14vh;
}
@media only screen and (orientation: portrait) {
  .grid-area-resources .counter-change {
    margin-top: -17vw;
  }
}

.counter-buttons {
  flex: 1 0 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.counter-buttons-resources {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
}

.counter-button-resource {
  flex: 1 1 41px;
  width: 100%;
  padding: 0 6px;
  display: block;
  font-size: 4vh;
  font-weight: normal;
  letter-spacing: 1px;
}
@media only screen and (orientation: portrait) {
  .counter-button-resource {
    font-size: 5vw;
  }
}
@media only screen and (orientation: portrait) and (min-width: 400px) {
  .counter-button-resource {
    font-size: 3.5vw;
  }
}

.grid-area-resources .counter-button-resource {
  flex: 6 1 41px;
}
.counter-button-resource + .counter-button-resource {
  border-top: 1px solid #e6e8e9;
}

div.counter-button-resource-placeholder {
  text-align: center;
  content: "X";
  color: transparent;
}

.button-spacer {
  width: 100%;
  display: block;
  flex: 1 0 10px;
}

.grid-area-income .counter-button-resource {
  color: #FFFFFF;
}
.grid-area-income .counter-button-resource:hover {
  background-color: #bdc3c6;
}
.grid-area-income .counter {
  border-left: 1px solid #afb7ba;
  border-right: 1px solid #afb7ba;
  color: #FFFFFF;
}

.grid-area-resources .counter {
  border-left: 1px solid #e6e8e9;
  border-right: 1px solid #e6e8e9;
}
.grid-area-resources .counter-button-resource:hover {
  background-color: #eef0f0;
}
.grid-area-resources .counter-button-resource.counter-button-resource-placeholder:hover {
  background-color: transparent;
}
.grid-area-resources .counter-button-resource[disabled] {
  color: transparent;
  background-color: transparent;
  cursor: default;
}
.grid-area-resources .counter-button-resource[disabled]:hover {
  color: transparent;
  background-color: transparent;
  cursor: default;
}

.grid-area-income.grid-area-MCreditP,
.grid-area-income.grid-area-SteelP,
.grid-area-income.grid-area-TitaniumP {
  position: relative;
}
.grid-area-income.grid-area-MCreditP:before,
.grid-area-income.grid-area-SteelP:before,
.grid-area-income.grid-area-TitaniumP:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: 1px;
  left: 50%;
  margin-left: -18px;
  margin-top: -14px;
  border-top: 7px solid transparent;
  border-left: 18px solid transparent;
  border-bottom: 7px solid #cbd0d1;
  border-right: 18px solid transparent;
}

.grid-area-income.grid-area-PlantP,
.grid-area-income.grid-area-EnergyP,
.grid-area-income.grid-area-HeatP {
  position: relative;
}
.grid-area-income.grid-area-PlantP:after,
.grid-area-income.grid-area-EnergyP:after,
.grid-area-income.grid-area-HeatP:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 1px;
  left: 50%;
  margin-left: -18px;
  margin-bottom: -14px;
  border-bottom: 7px solid transparent;
  border-left: 18px solid transparent;
  border-top: 7px solid #cbd0d1;
  border-right: 18px solid transparent;
}

.grid-area-resources.grid-area-MCreditS {
  color: #f1a830;
}
.grid-area-resources.grid-area-MCreditS .counter-button-resource {
  color: #f1a830;
}

.grid-area-resources.grid-area-SteelS {
  color: #745339;
}
.grid-area-resources.grid-area-SteelS .counter-button-resource {
  color: #745339;
}

.grid-area-resources.grid-area-TitaniumS {
  color: #6d787d;
}
.grid-area-resources.grid-area-TitaniumS .counter-button-resource {
  color: #6d787d;
}

.grid-area-resources.grid-area-PlantS {
  color: #749838;
}
.grid-area-resources.grid-area-PlantS .counter-button-resource {
  color: #749838;
}

.grid-area-resources.grid-area-EnergyS {
  color: #682A7E;
}
.grid-area-resources.grid-area-EnergyS .counter-button-resource {
  color: #682A7E;
}

.grid-area-resources.grid-area-HeatS {
  color: #c24621;
}
.grid-area-resources.grid-area-HeatS .counter-button-resource {
  color: #c24621;
}

.grid-area-resources.grid-area-TR {
  color: #DE7629;
}
.grid-area-resources.grid-area-TR .counter {
  padding-top: 6px;
  padding-bottom: 2px;
}
.grid-area-resources.grid-area-TR .counter-count {
  line-height: 1;
}
.grid-area-resources.grid-area-TR .counter-label {
  width: auto;
  font-weight: bold;
}
.grid-area-resources.grid-area-TR .counter-label span {
  display: block;
  position: initial;
  width: auto;
  margin-left: 0;
  text-align: center;
  bottom: initial;
  height: auto;
  line-height: 1;
  font-size: 2.5vh;
}
@media only screen and (orientation: portrait) {
  .grid-area-resources.grid-area-TR .counter-label span {
    font-size: 2.5vw;
  }
}
.grid-area-resources.grid-area-TR .counter-button-resource {
  color: #DE7629;
}

.grid-area-income.grid-area-MCreditP {
  background-color: #f1a830;
}
.grid-area-income.grid-area-MCreditP:before {
  border-bottom: 7px solid #f1a830;
}
.grid-area-income.grid-area-MCreditP .counter {
  border-left-color: #f6c678;
  border-right-color: #f6c678;
}
.grid-area-income.grid-area-MCreditP .counter-button-resource:hover {
  background-color: #df900f;
}

.grid-area-income.grid-area-SteelP {
  background-color: #745339;
}
.grid-area-income.grid-area-SteelP:before {
  border-bottom: 7px solid #745339;
}
.grid-area-income.grid-area-SteelP .counter {
  border-left-color: #966b4a;
  border-right-color: #966b4a;
}
.grid-area-income.grid-area-SteelP .counter-button-resource:hover {
  background-color: #634731;
}

.grid-area-income.grid-area-TitaniumP {
  background-color: #6d787d;
}
.grid-area-income.grid-area-TitaniumP:before {
  border-bottom: 7px solid #6d787d;
}
.grid-area-income.grid-area-TitaniumP .counter {
  border-left-color: #869296;
  border-right-color: #869296;
}
.grid-area-income.grid-area-TitaniumP .counter-button-resource:hover {
  background-color: #616b6f;
}

.grid-area-income.grid-area-PlantP {
  background-color: #749838;
}
.grid-area-income.grid-area-PlantP:after {
  border-top: 7px solid #749838;
}
.grid-area-income.grid-area-PlantP .counter {
  border-left-color: #91bb48;
  border-right-color: #91bb48;
}
.grid-area-income.grid-area-PlantP .counter-button-resource:hover {
  background-color: #668531;
}

.grid-area-income.grid-area-EnergyP {
  background-color: #783091;
}
.grid-area-income.grid-area-EnergyP:after {
  border-top: 7px solid #783091;
}
.grid-area-income.grid-area-EnergyP .counter {
  border-left-color: #973db7;
  border-right-color: #973db7;
}
.grid-area-income.grid-area-EnergyP .counter-button-resource:hover {
  background-color: #682A7E;
}

.grid-area-income.grid-area-HeatP {
  background-color: #c24621;
}
.grid-area-income.grid-area-HeatP:after {
  border-top: 7px solid #c24621;
}
.grid-area-income.grid-area-HeatP .counter {
  border-left-color: #dd5f39;
  border-right-color: #dd5f39;
}
.grid-area-income.grid-area-HeatP .counter-button-resource:hover {
  background-color: #9f391b;
}

.column.main-column {
  flex: 1 0 75%;
  max-height: 100vh;
}
@media only screen and (orientation: portrait) {
  .column.main-column {
    max-height: 100vw;
  }
}

.column.summary-column {
  padding: 0;
  margin: 6px 0 6px 6px;
  flex: 0 1 130px;
  max-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  max-height: 100vh;
}
@media only screen and (orientation: portrait) {
  .column.summary-column {
    max-height: 100vw;
  }
}

.action-buttons {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
}

.generation {
  flex: 1 1 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 4px 0;
}
.generation .button-generation {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  line-height: 1;
  font-weight: bold;
  color: #313739;
  font-size: 7vh;
}
@media only screen and (orientation: portrait) {
  .generation .button-generation {
    font-size: 7vw;
  }
}
.generation .button-generation:focus, .generation .button-generation:hover {
  background-color: #e6e8e9;
}
.generation .button-generation span {
  padding: 0 5px 2px;
  font-size: 0.7em;
}
.generation .generation-label {
  font-weight: normal;
  color: #6d787d;
  font-size: 2vh;
}
@media only screen and (orientation: portrait) {
  .generation .generation-label {
    font-size: 2vw;
  }
}

.sidebar-tr {
  margin-top: 6px;
}

.normal-mode {
  background-color: #313739;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}

.switch-mode-button {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 0 6px;
  margin: 12px 0 0;
}

.undo-redo-buttons {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 0 6px;
  margin: auto;
}

.spend-mode {
  flex: 1 0 auto;
  margin-top: 6px;
  background-color: #FFFFFF;
}
@media only screen and (orientation: portrait) {
  .spend-mode {
    margin-bottom: 12px;
  }
}

.exit-spend-mode-button {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 0 6px;
  margin-top: 6px;
}

.grid-summary-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 6px;
}

.grid-summary {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.grid-table {
  margin: auto 0;
  flex: 0 0 auto;
  padding: 6px;
}

.grid-table-row {
  display: flex;
  flex-flow: row nowrap;
}
.grid-table-row + .grid-table-row {
  margin-top: 10px;
}

.grid-table-resource {
  flex: 0 0 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.grid-table-resource .grid-table-quantity {
  flex: 1 1 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.15rem;
  font-weight: bold;
}
.grid-table-resource .spend {
  margin: 0 5px 0 5px;
  flex: 0 0 26px;
}
.grid-table-resource .spend span {
  display: none;
}

.spend-MCreditP,
.spend-SteelP,
.spend-TitaniumP,
.spend-PlantP,
.spend-EnergyP,
.spend-HeatP {
  border: 4px solid #cbd0d1;
  height: 26px;
  border-radius: 3px;
}

.grid-table-mega-credits {
  flex: 0 0 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
}
.grid-table-mega-credits span {
  font-size: 1.2em;
  transform: translateY(2px);
}

.grid-table-summary {
  margin: 0 6px 0;
  border-top: 1px solid #e6e8e9;
  padding: 6px 0;
}

.grid-actions {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: auto;
  margin-top: 6px;
  padding: 0 6px 6px;
}

.button-redo,
.button-undo {
  flex: 1 1 auto;
  width: auto;
  font-size: 1.1rem;
  padding: 8px 0;
  background-color: #6d787d;
  color: #313739;
}
.button-redo:hover,
.button-undo:hover {
  background-color: #555e62;
}

.button-undo {
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-redo {
  border-left: 1px solid #313739;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button-cancel,
.button-confirm,
.button-switch,
.button-exit,
.button-buy {
  flex: 1 0 auto;
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.button-switch {
  color: #616b6f;
  border: 1px solid #495154;
  border-radius: 3px;
}
.button-switch:hover {
  border-color: #6d787d;
  color: #869296;
}

.button-reset {
  color: #616b6f;
  flex: 0 1 41px;
  padding-right: 6px;
}
.button-reset:hover {
  color: #cbd0d1;
}

.button-exit {
  color: #949ea2;
  border-radius: 3px;
  border: 1px solid #e6e8e9;
}
.button-exit:hover {
  background-color: #e6e8e9;
}

.button-confirm,
.button-cancel,
.button-buy {
  background-color: #749838;
  color: #FFFFFF;
  border-radius: 3px;
  font-weight: bold;
}
.button-confirm:hover,
.button-cancel:hover,
.button-buy:hover {
  background-color: #58732a;
}

.button-cancel {
  background-color: #6d787d;
}
.button-cancel:hover {
  background-color: #555e62;
}

.button-confirm {
  background-color: #c24621;
}
.button-confirm:hover {
  background-color: #96361a;
}

.mini-counter-label,
.spend-MCreditP,
.spend-MCreditS,
.grid-area-MCreditS .counter-label {
  background-image: url("https://placehold.it/50x50/F8B443/FFFFFF");
}

.spend-SteelP,
.spend-SteelS,
.grid-area-SteelS .counter-label {
  background-image: url("https://placehold.it/50x50/745339/FFFFFF");
}

.spend-TR {
  background-image: url("https://placehold.it/50x50/DE7629/FFFFFF");
}

.spend-TitaniumP,
.spend-TitaniumS,
.grid-area-TitaniumS .counter-label {
  background-image: url("https://placehold.it/50x50/6d787d/FFFFFF");
}

.spend-PlantP,
.spend-PlantS,
.grid-area-PlantS .counter-label {
  background-image: url("https://placehold.it/50x50/749838/FFFFFF");
}

.spend-EnergyP,
.spend-EnergyS,
.grid-area-EnergyS .counter-label {
  background-image: url("https://placehold.it/50x50/682A7E/FFFFFF");
}

.spend-HeatP,
.spend-HeatS,
.grid-area-HeatS .counter-label {
  background-image: url("https://placehold.it/50x50/C25621/FFFFFF");
}

p.placeholder-text {
  padding: 10px 10px;
  font-size: 0.9em;
  color: #a2abae;
  line-height: 1.4;
  margin: auto 0;
  text-align: center;
}

.counter-button-resource-heat,
.counter-button-resource-plants,
.counter-button-resource-energy {
  padding-left: 0;
  padding-right: 0;
}
.counter-button-resource-heat .counter-button-inner,
.counter-button-resource-plants .counter-button-inner,
.counter-button-resource-energy .counter-button-inner {
  display: flex;
  flex-flow: column nowrap;
}
.counter-button-resource-heat span.counter-button-heat-graphic,
.counter-button-resource-heat span.counter-button-plants-graphic,
.counter-button-resource-heat span.counter-button-energy-graphic,
.counter-button-resource-plants span.counter-button-heat-graphic,
.counter-button-resource-plants span.counter-button-plants-graphic,
.counter-button-resource-plants span.counter-button-energy-graphic,
.counter-button-resource-energy span.counter-button-heat-graphic,
.counter-button-resource-energy span.counter-button-plants-graphic,
.counter-button-resource-energy span.counter-button-energy-graphic {
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 5vh;
  height: 5vh;
}
@media only screen and (orientation: portrait) {
  .counter-button-resource-heat span.counter-button-heat-graphic,
  .counter-button-resource-heat span.counter-button-plants-graphic,
  .counter-button-resource-heat span.counter-button-energy-graphic,
  .counter-button-resource-plants span.counter-button-heat-graphic,
  .counter-button-resource-plants span.counter-button-plants-graphic,
  .counter-button-resource-plants span.counter-button-energy-graphic,
  .counter-button-resource-energy span.counter-button-heat-graphic,
  .counter-button-resource-energy span.counter-button-plants-graphic,
  .counter-button-resource-energy span.counter-button-energy-graphic {
    width: 5vw;
    height: 5vw;
  }
}

.counter-button-resource-plants span.counter-button-plants-graphic {
  background-image: url("https://placehold.it/40x40/");
}

.counter-button-resource-heat span.counter-button-heat-graphic {
  background-image: url("https://placehold.it/40x40/");
}

.counter-button-resource-energy {
  color: transparent !important;
  background-color: #FFFFFF !important;
  cursor: default !important;
}
.counter-button-resource-energy:hover {
  background-color: #FFFFFF !important;
  color: transparent !important;
  cursor: default !important;
}

.modal-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (orientation: portrait) {
  .modal-bg {
    width: 100vh;
    height: 100vw;
  }
}

.modal {
  flex: 0 0 70%;
  max-width: 400px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.modal-body {
  padding: 20px;
}
.modal-body h1 {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  color: #c24621;
}
.modal-body p {
  text-align: center;
  color: #c24621;
}

.modal-buttons {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}
.modal-buttons > button {
  flex: 1 1 50px;
  margin: 0 6px;
}

@media only screen and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
